:root {
  /* color */
  --primary: #5e63ba;
  --primary-alpha: rgb(94 99 186 / 50%);
  --primary-alpha2: rgb(94 99 186 / 10%);
  --dark: #2f3480;
  --static-red: #ff3401;
  --static-green: rgba(40, 180, 133, 0.4);
  --static-white: #fbfbfd;
  --content-background: #ecf3f8;
  --overlay: rgb(24 28 41 / 80%);

  /* border */
  --border-radius: 20px;

  /* width */
  --container-width: 1440px;
}
