.keyboardWrapper {
  min-height: 250px;
  max-width: 690px;
}

.keyboardText {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--static-white);
}

.buttonKeyboard {
  border: none;
  width: 60px;
  height: 60px
}

.buttonKeyboard:disabled {
  background-color: var(--primary-alpha);
  cursor: auto;
}

.container:has(#easy:checked) .letters {
  display: none;
}

.container:has(#medium:checked) .numbers {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .buttonKeyboard:hover {
    background-color: var(--dark);
  }

  .buttonKeyboard:disabled:hover {
    background-color: var(--primary-alpha);
  cursor: auto;
}

}

.buttonKeyboard:active,
.buttonKeyboardActive {
  background-color: var(--dark);
  transform: translateY(4px);
}

.buttonKeyboard:disabled:active {
  background-color: var(--primary-alpha);
  transform: translateY(0);
}

/* 1360 */
@media only screen and (width <= 85em) {
  .buttonKeyboard {
    width: 55px;
    height: 55px;
  }
}

/* 720px */
@media only screen and (width <= 45em) {
  .keyboardWrapper {
    min-height: 190px;
    max-width: 490px;
  }

  .buttonKeyboard {
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }

  .keyboardText {
    font-size: 2.4rem;
    line-height: 1;
  }
}


