@import "css/base/_variables.css";
@import "css/base/_typography.css";
@import "css/base/_utils.css";
@import "css/_button.css";
@import "css/_keyboard.css";

/* base */
*,
*::before,
*::after{
  padding: 0;
  box-sizing: border-box;
}

*:not(dialog),
*::before,
*::after{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

a:link,
a:visited{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}
