@import "css/base/_variables.css";
@import "css/base/_typography.css";
@import "css/_button.css";
@import "css/_keyboard.css";
@import "css/_modal.css";
@import "css/_media-queries.css";
@import "css/base/_utils.css";

/* base */
*,
*::before,
*::after{
  padding: 0;
  box-sizing: border-box;
}

*:not(dialog),
*::before,
*::after{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

a:link,
a:visited{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

.gridDiv {
  display: grid;
  place-items: center center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 600px;
}

.roundWrapper {
  align-content: center;
  grid-column-start: 2;
  min-width: 107px;
  min-height: 46px;
}

.outputField {
  border-radius: 20px;
  padding: 10px 40px;
  width: 400px;

  /* min-width: 100%; */
  /* max-width: 500px; */
  /* text-align: center; */
  color: var(--dark);
  background-color: var(--primary-alpha2);
}
